n8n-workflow-riwaya.json
{
  "name": "Riwaya - Publish Book to FB/Instagram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "riwaya-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "riwaya-publish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-fb",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-facebook",
      "name": "Facebook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/869754449565702/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Webhook').item.json.body.facebook_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Webhook').item.json.body.image }}"
            },
            {
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.caption }}"
            },
            {
              "name": "published",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "facebook-post",
      "name": "Post Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ig",
              "leftValue": "={{ $('Webhook').item.json.body.platform }}",
              "rightValue": "facebook",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-instagram",
      "name": "Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + ($('Webhook').item.json.body.instagram_account_id || '869754449565702') + '/media' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Webhook').item.json.body.facebook_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('Webhook').item.json.body.image }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Webhook').item.json.body.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "instagram-container",
      "name": "IG - Créer Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v19.0/' + ($('Webhook').item.json.body.instagram_account_id || '869754449565702') + '/media_publish' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Webhook').item.json.body.facebook_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('IG - Créer Container').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "instagram-publish",
      "name": "IG - Publier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Publié avec succès', bookId: $('Webhook').item.json.body.bookId }) }}",
        "options": {}
      },
      "id": "response-node",
      "name": "Réponse OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Facebook?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook?": {
      "main": [
        [
          {
            "node": "Post Facebook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Instagram?": {
      "main": [
        [
          {
            "node": "IG - Créer Container",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IG - Créer Container": {
      "main": [
        [
          {
            "node": "IG - Publier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Facebook": {
      "main": [
        [
          {
            "node": "Réponse OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG - Publier": {
      "main": [
        [
          {
            "node": "Réponse OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    "riwaya",
    "social-media"
  ],
  "triggerCount": 0,
  "versionId": "2"
}